# AF de MEGADADOS

A prova tem duração de **2h30**. Veja mais informações no Blackboard!

Não se esqueça de **anexar o notebook** no **Blackboard** ao final da prova. Deixe as células **executadas**!

**NOME**: SEU NOME AQUI!

## Insper autograding!

Para receber feedback dos exercício, iremos utilizar o `insper autograding`.

**Importante**: você precisará do `.env`, utilize o mesmo procedimento feito na aula de **Spark**!

In [ ]:
# !pip install -U git+https://github.com/macielcalebe/insperautograding.git

## Como resolver os exercícios?

Crie a base da prova em sua máquina (Exercício 1). Utilize o notebook, MySQL Workbench ou o conector para testar as queries e soluções. Quando estiver bastante certo de que a resposta está correta, faça a submissão para o servidor.

## Base de dados

Em alguns exercícios, iremos utilizar a base de dados `af_md_23_2`.

Execute o script `mensagens.sql` no Workbench para criar e popular a base.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [2]:
import mysql.connector
import os
import insperautograder.jupyter as ia
from functools import partial
from pyspark.sql import SparkSession
from dotenv import load_dotenv

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [4]:
load_dotenv(override=True)

def get_connection_helper(database):

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            results = cursor.execute(query, args, multi=True)
            for i, result in enumerate(results):
                if result.with_rows:
                    print(f"Resultado query {i}:")
                    for line in result.fetchall():
                        print(line)
                else:
                    print(f"Query {i} executada!")

    connection = mysql.connector.connect(
        host=os.getenv("MD_DB_SERVER"),
        user=os.getenv("MD_DB_USERNAME"),
        password=os.getenv("MD_DB_PASSWORD"),
        database=database,
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper("af_md_23_2")

In [5]:
spark = SparkSession.builder.appName("MinhaAplicacao").getOrCreate()
sc = spark.sparkContext

24/05/26 13:43:15 WARN Utils: Your hostname, MacBook-Air-de-Quental.local resolves to a loopback address: 127.0.0.1; using 192.168.15.7 instead (on interface en0)
24/05/26 13:43:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/26 13:43:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Notas

As primeiras cinco questões, que possuem correção automática, valem 60% da nota da prova.

Na API de correção automática a nota de cada questão será ponderada pelo seu peso. A nota será apresentada no intervalo 0 a 10, multiplique por 0.6 para saber a nota final considerando toda a prova.

Para conferir a nota da correção automática da prova, utilize:

In [6]:
ia.grades(task="af_md_23_2")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | af_md_23_2  | ex01spark   |      2 |      0 |
|  1 | af_md_23_2  | ex02spark   |      3 |      0 |
|  2 | af_md_23_2  | ex03trigger |      3 |      0 |
|  3 | af_md_23_2  | ex04perm    |      1 |      0 |
|  4 | af_md_23_2  | ex05python  |      2 |      0 |

In [7]:
ia.grades(by="TASK", task="af_md_23_2")

|    | Tarefa     |   Nota |
|---:|:-----------|-------:|
|  0 | af_md_23_2 |      0 |

**Exercício 1**:

O arquivo `timestamps.txt` contém uma lista de timestamps indicando quando foram feitos acessos a um sistema, um por linha. Cada timestamp é uma string no formato `YYYY-MM-DD HH:MM:SS`. Escreva uma função em Spark que recebe um rdd e um ano (nesta ordem) e retorna quantos acessos houveram em um determinado ano.

In [16]:
def total_acessos(rdd, ano):
    # Filtrar os timestamps que pertencem ao ano especificado
    acessos_no_ano = rdd.filter(lambda x: x.startswith(ano))
    
    # Contar o número de acessos no ano filtrado
    total_acessos_ano = acessos_no_ano.count()
    
    return total_acessos_ano

rdd = sc.textFile("timestamps.txt")

print(total_acessos(rdd, "2022"))
print(total_acessos(rdd, "2023"))

24985
25022

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [10]:
ia.sender(answer="total_acessos", task="af_md_23_2", question="ex01spark", answer_type="pycode")

interactive(children=(Button(description='Enviar ex01spark', style=ButtonStyle()), Output()), _dom_classes=('w…

**Exercício 2**:

Ainda no arquivo `timestamps.txt`, escreva uma função em Spark que recebe um rdd e retorna em ordem decrescente as 20 datas em que houveram mais acessos junto da quantidade de acessos em cada data.

In [18]:
def top20(rdd):
    # Extrair apenas a data de cada timestamp (YYYY-MM-DD)
    datas = rdd.map(lambda x: x.split(' ')[0])
    
    # Contar o número de acessos para cada data
    contagem_datas = datas.map(lambda x: (x, 1)).reduceByKey(lambda a, b: a + b)
    
    # Ordenar as datas pelo número de acessos em ordem decrescente
    datas_ordenadas = contagem_datas.sortBy(lambda x: x[1], ascending=False)
    
    # Pegar as 20 datas com mais acessos
    top_20_datas = datas_ordenadas.take(20)
    
    return top_20_datas

top20(rdd)

[('2021-12-15', 161),
 ('2022-10-09', 154),
 ('2020-07-13', 151),
 ('2021-10-05', 150),
 ('2021-10-29', 149),
 ('2020-09-11', 148),
 ('2023-07-02', 148),
 ('2022-10-25', 148),
 ('2020-09-26', 147),
 ('2020-07-01', 147),
 ('2021-08-15', 147),
 ('2021-06-17', 145),
 ('2022-06-23', 144),
 ('2021-09-24', 144),
 ('2023-07-23', 143),
 ('2022-09-17', 143),
 ('2020-12-26', 143),
 ('2021-08-03', 142),
 ('2021-11-25', 142),
 ('2022-07-02', 142)]

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [20]:
ia.sender(answer="top20", task="af_md_23_2", question="ex02spark", answer_type="pycode")

interactive(children=(Button(description='Enviar ex02spark', style=ButtonStyle()), Output()), _dom_classes=('w…

**Exercício 3**:

Vimos na primeira parte do curso como podemos utilizar índices para acelerar a performance de *queries*. RDBMS como o MySQL suportam, inclusive, a construção de índices por múltiplas colunas.

Entretanto, em certas situações, como quando são realizadas primariamente buscar por igualdade em múltiplas colunas, uma alternativa é utilizar **hashing** de índices compostos. Nesta técnica, ao invés de construir um índice composto por múltiplas colunas e realizar as consultas neste formato:

```mysql
SELECT t.res1,
       t.res2
FROM tabela t
WHERE t.col1 = 'algum valor'
  AND t.col2 = 'outro valor'
  AND t.col3 = 'criterio de busca'
```

É construida manualmente uma coluna que contém o **hash da concatenação das colunas utilizadas na query**. Então, é criado um índice apenas na coluna que contém o hash. Assim, a *query* de consulta passa a ser, por exemplo:


```mysql
SELECT t.res1,
       t.res2
FROM tabela t
WHERE t.coluna_hash = MD5(CONCAT('algum valor', 'outro valor', 'criterio de busca'))
```

Neste exercício, você deve construir uma *trigger* para atualizar a coluna chamada `coluna_hash` da tabela de `mensagens` quando ocorrer um **update** na tabela de mensagens.

A tabela estará assim:
| id | col1    | col2     | col3    | mensagem                                 |
|----|---------|----------|---------|------------------------------------------|
| 1  | ANA     | SILVA    | ABACATE | Oi, bom dia                              |
| 2  | MARIA   | PEREIRA  | PERA    | Me liga quando puder                     |
| 3  | JOSE    | FERREIRA | ABACATE | Cade vc?                                 |
| 4  | ANTONIO | SILVA    | MACA    | Qual o status do pedido?                 |
| 5  | CAMILA  | WOK      | PERA    | Conseguiu analisar?                      |
| 6  | DANILO  | SCHINLE  | MACA    | Tudo certo pro jantar, vc vem?           |
| 7  | PEDRO   | PACKEL   | BANANA  | Complicado, vai ter que conferir com ela |
| 8  | MANOELA | NANTES   | PERA    | O lugar era lindo                        |
| 9  | CELSO   | ALIVERRI | ABACATE | A visao eh adequada                      |
| 10 | ELLEN   | WETLKS   | UVA     | Vamos juntos                             |

Por exemplo, após criar a coluna `coluna_hash`, ao fazer um *update* no id `1`, ficará assim:

| id | col1    | col2     | col3    | mensagem                                 | coluna_hash                              |
|----|---------|----------|---------|------------------------------------------|------------------------------------------|
| 1  | ANA     | SILVA    | UVA     | Oi, bom dia                              | 2d0b14a194488b9080e080c8a7d82ef88fddbe1e |
| 2  | MARIA   | PEREIRA  | PERA    | Me liga quando puder                     |                                          |
| 3  | JOSE    | FERREIRA | ABACATE | Cade vc?                                 |                                          |
| 4  | ANTONIO | SILVA    | MACA    | Qual o status do pedido?                 |                                          |
| 5  | CAMILA  | WOK      | PERA    | Conseguiu analisar?                      |                                          |
| 6  | DANILO  | SCHINLE  | MACA    | Tudo certo pro jantar, vc vem?           |                                          |
| 7  | PEDRO   | PACKEL   | BANANA  | Complicado, vai ter que conferir com ela |                                          |
| 8  | MANOELA | NANTES   | PERA    | O lugar era lindo                        |                                          |
| 9  | CELSO   | ALIVERRI | ABACATE | A visao eh adequada                      |                                          |
| 10 | ELLEN   | WETLKS   | UVA     | Vamos juntos                             |                                          |

**Obs**:
- Execute o script `mensagens.sql` para construir a base de dados;
- Faça o DDL, em seu servidor local, para criar a coluna `coluna_hash` com array `CHAR` de tamanho 40. No servidor de testes esta coluna já existe e você não deve enviar esta parte;
- Imagine que o índice já existe na coluna de hash (não é relevante para o exercício que ele realmente exista);
- A coluna `coluna_hash` deve ser calculada com o uso da função `SHA1` a partir da concatenação dos colunas `col1`, `col2` e `col3` (nesta ordem e sem espaçadores).

In [28]:
sql_ex03 = """
-- Dropar a trigger existente se já existir
DROP TRIGGER IF EXISTS update_coluna_hash;

-- Criar a trigger para atualizar a coluna `coluna_hash` em caso de UPDATE
CREATE TRIGGER update_coluna_hash
BEFORE UPDATE ON `mensagens`
FOR EACH ROW
BEGIN
    SET NEW.coluna_hash = SHA1(CONCAT(NEW.col1, NEW.col2, NEW.col3));
END;
"""

db(sql_ex03)

Query 0 executada!
Query 1 executada!

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [22]:
ia.sender(answer="sql_ex03", task="af_md_23_2", question="ex03trigger", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03trigger', style=ButtonStyle()), Output()), _dom_classes=(…

**Exercício 04**:

Considere que foi criado o usuário `u_consult` com login a partir de qualquer host.

O usuário possui permissão de **LEITURA** e **INSERÇÃO** na tabela de `mensagens` utilizada no exercício anterior. Entretanto, ele não deveria poder **INSERIR** na tabela `mensagens`.

Faça as atualizações, revogando as permissões não mais necessárias.

In [29]:
sql_ex04 = """
-- Revogar permissão de inserção na tabela `mensagens` para o usuário `u_consult`
REVOKE INSERT ON `af_md_23_2`.`mensagens` FROM 'u_consult'@'%';
"""

db(sql_ex04)

ProgrammingError: 1147 (42000): There is no such grant defined for user 'u_consult' on host '%' on table 'mensagens'

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [30]:
ia.sender(answer="sql_ex04", task="af_md_23_2", question="ex04perm", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04perm', style=ButtonStyle()), Output()), _dom_classes=('wi…

**Exercício 5**:

Um pesquisador irá analisar parte dos dados de um projeto científico para identificação de exoplanetas.

Os dados do projeto são armazenados em um servidor com quatro HDs de 10TB configurados em RAID 5.

Durante o projeto, surgiram questões como:

*"Considerando que são recebidos 14 GB por semana, quantos dias serão necessários para que se atinja 75% da capacidade disponível para armazenamento no servidor?"*

Para responder questões como esta rapidamente, você deve construir uma função `calc_dias_armazenamento` em python que recebe, nesta ordem:

- `tb_por_hd`: quantidade de terabytes de cada um dos quatro HDs;
- `gb_semana`: quantidade de novos dados recebidos a cada semana, em GB;
- `perc`: capacidade percentual limite que se quer analisar. O percentual será passado no intervalo `[0.0 ... 1.0]`.

Como resposta, você deve devolver a quantidade inteira de dias até que que a capacidade percentual seja atingida.

**Obs**:
- Considere o sistema internacional de unidades, ou seja, 1TB = 1000GB e 1GB=1000MB.

In [34]:
def calc_dias_armazenamento(tb_por_hd, gb_semana, perc):
    # Calcular a capacidade total utilizável em TB no RAID 5
    capacidade_total_tb = (4 - 1) * tb_por_hd  # 4 HDs em RAID 5, menos 1 para paridade
    
    # Converter a capacidade total para GB
    capacidade_total_gb = capacidade_total_tb * 1000  # 1 TB = 1000 GB
    
    # Calcular a capacidade alvo em GB
    capacidade_alvo_gb = capacidade_total_gb * perc
    
    # Calcular o número de semanas para atingir a capacidade alvo
    semanas_necessarias = capacidade_alvo_gb / gb_semana
    
    # Converter semanas para dias
    dias_necessarios = semanas_necessarias * 7
    
    # Retornar a quantidade inteira de dias
    return int(dias_necessarios)


# Exemplo de uso
tb_por_hd = 10  # cada HD tem 10 TB
gb_semana = 14  # são recebidos 14 GB por semana
perc = 0.75  # queremos saber quando será atingido 75% da capacidade

print(calc_dias_armazenamento(tb_por_hd, gb_semana, perc))

11250

In [35]:
# Alguns testes locais
assert calc_dias_armazenamento(10, 14000, 0.5) == 7
assert calc_dias_armazenamento(20, 12800, 0.9) == 29

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [33]:
ia.sender(answer="calc_dias_armazenamento", task="af_md_23_2", question="ex05python", answer_type="pycode")

interactive(children=(Button(description='Enviar ex05python', style=ButtonStyle()), Output()), _dom_classes=('…

**Exercício 6**: (**Nota: 1,5**)

Na atividade da próxima *sprint*, foi atribuido ao seu time de analistas de negócio a entrega de um *Dashboard* para acompanhamento dos números de vendas da empresa (vendas por região, vendas por categoria de produto, vendas por canal, etc.)

Dado que isolamento é uma das propriedades fundamentais de bancos de dados relacionais e considerando que parte da especificação envolve:

- O acompanhamento será feito em tempo real;
- É ok ocorrerem imprecisões momentâneas.

Justifique **qual nível de isolamento de transações** você recomendaria que fosse utilizado no projeto.

Esta questão será corrigida considerando a seguinte rubrica:

| Conceito | Nota | Descrição                                                                                                                                               |
|:----------:|----------:|:---------------------------------------------------------------------------------------------------------------------------------------------------------|
| I        | 0.0 |Apenas citou o assunto ou alguns fatos sem explicações                                                                                                  |
| D        | 0.3 |Explicou superficialmente o assunto ou fatos mas sem muitos detalhes conclusivos                                                                        |
| C        | 0.6 |Explicou com detalhes, apresentando definições concretas.                                                                                               |
| B        | 0.8 |Explicou com detalhes, apresentando definições concretas e exemplos de uso.                                                                            |
| A        | 1.0 |Explicou com detalhes, apresentando definições concretas, exemplos de uso e ainda outros tópicos correlatos, fazendo uma conexão lógica entre eles. |

<div class="alert alert-success">

Sua resposta AQUI!

</div>

**Exercício 7**:

Considere um cenário onde projetos são propostos por empresas em busca de financiamento. Cada projeto é proposto por apenas uma empresa, mas a empresa pode propor muitos projetos.

Os projetos podem ou não receber apoio financeiro. Esta decisão é tomada por meio de uma votação, onde usuários membros de um grupo qualquer decidirão se apoiam ou não cada projeto. Cada usuário vota apenas uma vez em cada projeto (`S: sim`, `N: não`, `A: anula`).

Considerando esta tabela de `votos`:

| id_usuario(PK) | nome           | id_projeto(PK) | projeto     | descricao                              | id_empresa | empresa | voto |
|----------------|----------------|----------------|-------------|----------------------------------------|------------|---------|------|
| 20             | Antonio Soares | 1              | Sockerator  | Emparelhador de meias                  | 50         | UniX    | S    |
| 21             | Marina Pereira | 1              | Sockerator  | Emparelhador de meias                  | 50         | UniX    | S    |
| 22             | Camila Mert    | 1              | Sockerator  | Emparelhador de meias                  | 50         | UniX    | N    |
| 20             | Antonio Soares | 2              | Snacktapult | Lança petiscos diretamente para a boca | 51         | Abx     | S    |
| 22             | Camila Mert    | 2              | Snacktapult | Lança petiscos diretamente para a boca | 51         | Abx     | N    |
| 20             | Antonio Soares | 3              | LazyHat     | Um boné com apoio para petiscos        | 50         | UniX    | A    |
| 21             | Marina Pereira | 3              | Lazy Hat    | Um boné com apoio para petiscos        | 50         | UniX    | A    |

Chamamos de normalização o processo de rearranjar o banco de dados para que obedeça às várias formas normais. Assim, reduzimos a redundância, aumentamos o desempenho e a integridade de dados.

**a)** (**Nota: 1,0**) Ao analisar a tabela, um aluno fez a seguinte afirmação:

*"A tabela de `votos` está na `2NF` mas não está na `1NF`"*

A afirmação do aluno está correta? Justifique detalhadamente.

Esta questão será corrigida considerando a seguinte rubrica:

| Conceito | Nota | Descrição                                                                                                                                               |
|:----------:|----------:|:---------------------------------------------------------------------------------------------------------------------------------------------------------|
| I        | 0.0 |Apenas citou o assunto ou alguns fatos sem explicações                                                                                                  |
| D        | 0.3 |Explicou superficialmente o assunto ou fatos mas sem muitos detalhes conclusivos                                                                        |
| C        | 0.6 |Explicou com detalhes, apresentando definições concretas.                                                                                               |
| B        | 0.8 |Explicou com detalhes, apresentando definições concretas e exemplos de uso.                                                                            |
| A        | 1.0 |Explicou com detalhes, apresentando definições concretas, exemplos de uso e ainda outros tópicos correlatos, fazendo uma conexão lógica entre eles. |

<div class="alert alert-success">

Sua resposta AQUI!

</div>

**b**) (**Nota: 1,5**) Proponha modificações até que esteja na `3NF`.

**Obs**:
- Faça um passo a passo, deixando claro sua motivação em cada etapa.
- Você não deve gerar SQL, apenas texto e tabelas markdown!

<div class="alert alert-success">

Sua resposta AQUI!
    
Crie quantas tabelas precisar!

Dica: você pode editar tabelas markdown em https://www.tablesgenerator.com/markdown_tables
</div>

### Conferindo as notas!

In [36]:
ia.grades(task="af_md_23_2")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | af_md_23_2  | ex01spark   |      2 |     10 |
|  1 | af_md_23_2  | ex02spark   |      3 |     10 |
|  2 | af_md_23_2  | ex03trigger |      3 |     10 |
|  3 | af_md_23_2  | ex04perm    |      1 |     10 |
|  4 | af_md_23_2  | ex05python  |      2 |     10 |

In [37]:
ia.grades(by="TASK", task="af_md_23_2")

|    | Tarefa     |   Nota |
|---:|:-----------|-------:|
|  0 | af_md_23_2 |     10 |

## Entrega!

É hora de entregar. Faça `commit` e finalize o teste no proctorio!